<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wellcare"
        tools:targetApi="31">
        <activity
            android:name=".DoctorLoginActivity"
            android:exported="false" />
        <activity
            android:name=".PatientLoginActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".BookedAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".ContactActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".PatientHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentFormActivity"
            android:exported="false" />
        <activity
            android:name=".SlotsActivity"
            android:exported="false" /> <!-- Main Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Specialities Activity -->
        <activity
            android:name=".SpecialityActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">

            <!-- Optional: Add transition animations -->
            <meta-data
                android:name="android.activity.transition.SLIDE_LEFT"
                android:value="true" />
        </activity> <!-- Doctors Activity -->
        <activity
            android:name=".DoctorsActivity"
            android:exported="true"
            android:parentActivityName=".SpecialityActivity">
            <meta-data
                android:name="android.activity.transition.SLIDE_LEFT"
                android:value="true" />
        </activity> <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>